.revati:hover{
 box-shadow: 2px 2px 2px 2px gray;
 
}
.rev_form:hover{
    box-shadow: 2px 2px 2px 2px gray;
    
   }

 @media all and (min-width:451px) and (max-width:600px){
    .rev_container{
        display: grid;
        grid-template-columns : repeat(1,1fr);
        
       }
       .reva_prod{
        display: grid;
        grid-template-columns : repeat(2,1fr);
        
       }

}

@media only screen and (min-width: 768px){
    .rev_container{
        display: grid;
        grid-template-columns : repeat(1,1fr);
        
       }
       .reva_prod{
        display: grid;
        grid-template-columns : repeat(2,1fr);
        
       }
}